/* ----------- common css ------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1a0b2e;
}

ul,
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

p {
  color: #ffffffcc;
  font-size: 1rem;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
}
/* ----------- main css --------- */

/* about styles */
#about {
  margin-top: 50px;
  margin-bottom: 120px;
}

#about .about-heading {
  color: #fff;
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #ffffff3b;
}

#about .about-heading h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: capitalize;
}

#about .about-heading > p {
  line-height: 25px;
  font-size: 1rem;
}

#about .about-items {
  text-transform: uppercase;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.about-items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-items .item h4 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}

/* ------------- responsive mobile device ---------- */
@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  #about {
    margin: 40px auto;
  }

  #about .about-heading {
    padding-bottom: 40px;
  }

  #about .about-heading h2 {
    font-size: 2rem;
  }

  #about .about-items {
    margin-top: 40px;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-items .item h4 {
    font-size: 2.5rem;
  }
}
